---
---

@use "sass:color";
$link-color: cornflowerblue;

body {
  font-family: "Space Mono", monospace;
  font-size: calc(6px + 0.9vw + 0.9vh);
  padding: 2.7182818285%;
  margin: 0 auto;
  max-width: 1260px;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $link-color;
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
  }
}

.about-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;

  img {
    width: 4em;
    height: 4em;
    margin-right: 1rem;
  }

  .social-links {
    font-size: 0.75em;
  }
}

footer::before,
header::after {
  content: "--";
  display: block;
}

// inspired by https://tombrow.com/dark-mode-website-css
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
  a {
    color: color.adjust($link-color, $lightness: 10%);
  }
  img {
    filter: grayscale(30%);
  }
}
