---
---
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

$link-color: cornflowerblue;

body {
  font-family: 'Space Mono', monospace;
  font-size: calc(10px + 1vw + 0.7vh);
  padding: 2.7182818285%;
  margin: 0 auto;
  max-width: 1140px;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $link-color;
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
  }
}

footer::before, header::after {
  content: '--';
  display: block;
}

// inspired by https://tombrow.com/dark-mode-website-css
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
  a {
    color: lighten($link-color, 10%);
  }
  img {
    filter: grayscale(30%);
  }
}