<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap-reboot.min.css" rel="stylesheet">

  <style>
    body { font-family: 'Space Mono'; font-size: calc(6px + 1.1vw + 1.2vh); margin: 2.7182818285% }
    a { color: cornflowerblue; text-decoration-line: none; }
    a:hover { text-decoration-line: underline; }
    .main { max-width: 1140px; margin: 0 auto; }
  </style>
</head>