<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Boris' Home Page">
  <meta name="author" content="Boris Jabes">

  <!-- Federation -->
  <link href="https://micro.blog/borisjabes" rel="me" />

  <title>{{ page.title }}</title>

  <!-- minimal CSS reset -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.min.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap">
  <link rel="stylesheet" href="/css/site.css" />

</head>
